<div class="container">
    <!-- Content here -->
    <div class="container-fluid">
      <div class="row">
          <div class="col"> 
              <img src="logo.png" alt="lucas_puto" height="50px" width="50px">
          </div>
          <div class="col">
              <div class="d-flex justify-content-center">
                  <div class="col-3 textoTitulo">
                      Descripcion
                  </div>
                  <div class="col-3 textoTitulo">
                      Features
                  </div>
                  <div class="col-5 textoTitulo">
                      Lucas puto xdxd
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>

  <!--
  <style>
    .container-fluid {
        background-color: grey;
        }
        
    .textoTitulo{
        margin-top: 2%;
    }
</style>-->