<br>
<br>
<div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="whiteBlack">
        <label class="form-check-label" for="whiteBlackCheck">White/Black POV</label>
</div>
<div>

        <label for="importFen"> Format: <br>
                rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1</label>
        <button type="button" id='importFen' class="btn btn-secondary btn-sm">Import FEN</button>
        <input class="form-control" type="text" placeholder="FEN Import" id="fenInput">
        <button type="button" id='generateFen'class="btn btn-primary btn-sm">Generate Exports</button> <br>

        <label for="fenExport">FEN: </label>
        <input class="form-control" type="text" placeholder="FEN Export" id="fenExport" readonly>
        <label for="PGNexport"> PGN: </label>
        <input class="form-control" type="text" placeholder="PGN Export" id="pgnExport" readonly>


</div>